<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--http://www.thymeleaf.org-->
<head>
    <meta charset="UTF-8">
    <title>lol-video-list</title>

    <th:block th:replace="common/common-css :: link" />

</head>
<body>


<div class="custom-container">
    <div class="custom-page-head"></div>
    <div class="custom-page-main">

        <div th:replace="common/common-navigation :: div.custom-navigation" ></div>


        <div class="custom-content-left">
            <div class="custom-path">
                <a th:href="@{/index.html}" class="custom-path-button"> 首页</a> »
                <a href="#" class="custom-path-button"> 英雄联盟</a> »
                <!--<a th:href="@{/lol/video-list/1.html}" class="custom-path-button"> 攻略</a> »-->
            </div>

            <div class="custom-list">

                <!--<div class="custom-list-item" th:each="item : ${videoListViewBean.videos}">-->
                <!--<a th:href="@{/lol/video/{id}.html(id=${item.id})}" th:text="${item.title}">#</a>-->
                <!--<div class="custom-list-date" th:text="${item.postTime}">#</div>-->
                <!--</div>-->

                <div class="custom-video-list-item" th:each="item : ${videoListViewBean.videos}">

                    <div style="float: left;width: 40%;height: 120px">
                        <a th:href="@{/lol/video/{id}.html(id=${item.id})}">
                            <img th:src="${item.coverImgUrl}" class="custom-video-list-img">
                        </a>
                    </div>

                    <div style="float: left;width: 60%">
                    <span class="custom-video-list-title">
                        <a th:href="@{/lol/video/{id}.html(id=${item.id})}"
                           th:text="${item.title}">
                        </a>
                    <br>
                        <span class="custom-video-list-date" th:text="${item.postTime}+' 发布'">#</span>
                    </span>
                    </div>
                    <div class="custom-clear"></div>

                </div>

                <!--<div class="custom-video-list-item" th:each="item : ${videoListViewBean.videos}">-->
                <!--<a th:href="@{/lol/video/{id}.html(id=${item.id})}" th:text="${item.title}">#</a>-->
                <!--<div class="custom-list-date" th:text="${item.postTime}">#</div>-->
                <!--</div>-->
                <div class="custom-clear"></div>

                <!--<div class="custom-list-item">-->
                <!--<a href="#">xxxx</a>-->
                <!--<div class="custom-list-date">123</div>-->
                <!--</div>-->
                <!--<div class="custom-list-item">-->
                <!--<a href="#">xxxx</a>-->
                <!--<div class="custom-list-date">123</div>-->
                <!--</div>-->

            </div>
            <div class="custom-page-box">

                <span th:each="item : ${videoListViewBean.pageButtons}">

                    <a th:if="${item.active}" class="custom-page-button-active"
                       th:href="@{/lol/video-list/{id}.html(id=${item.pageIndex})}"
                       th:text="${item.pageIndex}">#</a>
                    <a th:if="${!item.active}" class="custom-page-button"
                       th:href="@{/lol/video-list/{id}.html(id=${item.pageIndex})}"
                       th:text="${item.pageIndex}">#</a>

                </span>

                <span>
                    <a class="custom-page-button custom-page-button-head" th:href="@{/lol/video-list/1.html}">首页</a>
                </span>
                <span>
                    <a class="custom-page-button"
                       th:href="@{/lol/video-list/{id}.html(id=${videoListViewBean.tailPage})}">尾页</a>
                </span>

                <span>
                    <a id="jumpPage" class="custom-page-button custom-page-button-head"
                       href="javascript:void(0);">跳到</a>
                </span>
                <span>
                    <input id="jumpPageValue" class="custom-page-input" type="text" value="">
                </span>
                <!--<span><a class="custom-page-button"> 1 </a></span>-->
                <!--<span> <a class="custom-page-button"> 2 </a></span>-->
                <!--<a class="custom-page-button"> 3 </a>-->
                <!--<a class="custom-page-button"> 4 </a>-->
                <!--<a class="custom-page-button"> 5 </a>-->
                <!--<a class="custom-page-button-active"> 6 </a>-->
            </div>


        </div>
        <div class="custom-content-right">
            <div class="right-box"></div>
        </div>
        <div class="custom-clear"></div>
    </div>
    <div style="display: none" id="contextPath" th:href="@{/}"></div>
</div>


<div th:replace="common/common-js :: script"></div>
<script>

    $(function () {
        $('#jumpPage').click(function () {
            window.location.href = $('#contextPath').attr('href') + 'lol/video-list/' + $('#jumpPageValue').val() + '.html';
        });

        window.onkeydown = function (event) {
            if (event.keyCode == 13) {
                if ($('#jumpPageValue').is(':focus')) {
                    window.location.href = $('#contextPath').attr('href') + 'lol/video-list/' + $('#jumpPageValue').val() + '.html';
                }
            }
//                // Get the focused element:
//                var $focused = $(':focus');
//                // No jQuery:
//                var focused = document.activeElement;
//                // Does the element have focus:
//                var hasFocus = $('input').is(':focus');
//                // No jQuery:
//                elem === elem.ownerDocument.activeElement;
        };

    });


</script>
</body>
</html>