<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>blokus</title>

    <th:block th:replace="common/common-css :: link"/>


</head>
<body>

<div class="custom-container">
    <div class="custom-page-head"></div>
    <div class="custom-page-main">

        <div th:replace="common/common-navigation :: div.custom-navigation"></div>


        <div class="custom-content-left">
            <div class="custom-path">
                <a th:href="@{/index.html}" class="custom-path-button"> 首页</a> »
                <!--<a th:href="@{/blog/blog-list/1.html}" class="custom-path-button"> 游戏</a> »-->
            </div>
            <!--<div class="custom-article-title" th:text="${blog.title}">title</div>-->
            <!--<div class="custom-article-post-time" th:text="'发表时间：'+${blog.postTime}">postTime</div>-->
            <!--<th:block th:utext="${blog.content}">content</th:block>-->

            <div class="custom-game-list">
                <a th:href="@{/game/blokus/start}" href="#"> blokus</a>
                <br>
                <a th:href="@{/game/blokus/register}" href="#"> register</a>
            </div>


        </div>
        <div class="custom-content-right">
            <div class="right-box"></div>
        </div>
        <div class="custom-clear"></div>
    </div>
</div>

<div th:replace="common/common-js :: script"></div>


</body>
</html>