.custom-container {
    width: 1500px;
    margin: 10px auto;
    border: 1px solid black;
    min-height: 1300px;
    border-radius: 15px;
    background-color: #F0FFFF;
    padding: 5px;
}

.custom-page-head {
    width: 100%;
    height: 250px;
    background-color: #7aa6da;
    border-radius: 15px;
}

.custom-page-main {
    width: 100%;
    min-height: 1000px;
    background-color: #ffffec;
    border-radius: 15px;
}

.custom-content-left {
    float: left;
    width: 75%;
    min-height: 900px;
    background-color: snow;
    border-radius: 15px;
    padding: 0 2%;
}

.custom-article-title {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    padding: 20px;
}

.custom-content-right {
    float: left;
    width: 25%;
    min-height: 900px;
    background-color: #f0efd0;
    border-radius: 15px;
}

.right-box {
    width: 96%;
    margin: 2%;
    min-height: 300px;
    background-color: #5bc0de;
    border-radius: 15px;
}

p {
    text-indent: 2em
}

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 18px;
    /*font-size: 40px;*/
}

.custom-navigation {
    width: 100%;
    background-color: #101010;
    height: 65px;
    border-radius: 5px;
    padding: 10px 30px;
}

.custom-navigation-head {
    float: left;
    font-size: 20px;
    padding: 10px;
    color: darkgrey;
    font-weight: bold;
}

.custom-navigation-head:hover {
    color: ghostwhite;
    cursor: pointer;
}

.custom-navigation-left-item:hover {
    color: ghostwhite;
    cursor: pointer;
}

.custom-navigation-right-item:hover {
    color: ghostwhite;
    cursor: pointer;
}

.custom-navigation-left-item {
    float: left;
    font-size: 20px;;
    padding: 10px;
    color: darkgrey;
}

.custom-navigation-right-item {
    float: right;
    font-size: 20px;;
    padding: 10px;
    color: darkgrey;
}

.custom-clear {
    clear: both;
}