<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zylear.publish.web.dao.mybatis.passcheck.UserAccountMapper">
    <resultMap id="BaseResultMap" type="com.zylear.publish.web.domain.passcheck.UserAccount">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="device_id" property="deviceId" jdbcType="VARCHAR"/>
        <result column="vip_expire_time" property="vipExpireTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="plugin_vip_expire_time" property="pluginVipExpireTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, account, password, device_id, vip_expire_time, is_deleted, create_time, last_update_time, plugin_vip_expire_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_user_account
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.zylear.publish.web.domain.passcheck.UserAccount">
        INSERT INTO t_user_account (id, account, password,
                                    device_id, vip_expire_time, is_deleted,
                                    create_time, last_update_time, plugin_vip_expire_time)
        VALUES (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{deviceId,jdbcType=VARCHAR}, #{vipExpireTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT},
                #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP},
                #{pluginVipExpireTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.zylear.publish.web.domain.passcheck.UserAccount">
        UPDATE t_user_account
        SET account          = #{account,jdbcType=VARCHAR},
            password         = #{password,jdbcType=VARCHAR},
            device_id        = #{deviceId,jdbcType=VARCHAR},
            vip_expire_time  = #{vipExpireTime,jdbcType=TIMESTAMP},
            is_deleted       = #{isDeleted,jdbcType=TINYINT},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            plugin_vip_expire_time = #{pluginVipExpireTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findByAccount" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_account
        where account = #{account,jdbcType=VARCHAR}
        AND is_deleted = 0
    </select>

    <select id="findByDeviceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_account
        where device_id = #{deviceId,jdbcType=VARCHAR}
        AND is_deleted = 0
    </select>

    <select id="findByAccountAndPassword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_account
        where account = #{account,jdbcType=VARCHAR}
        AND password = #{password,jdbcType=VARCHAR}
        AND is_deleted = 0
    </select>

    <update id="updateVipExpireTimeByAccount">
        UPDATE t_user_account
        SET vip_expire_time = #{vipExpireTime,jdbcType=TIMESTAMP},
            accumulate_vip_day = accumulate_vip_day + #{accumulateVipDay,jdbcType=INTEGER}
        WHERE account = #{account,jdbcType=VARCHAR}
    </update>

    <update id="updatePluginVipExpireTimeByAccount">
        UPDATE t_user_account
        SET plugin_vip_expire_time = #{pluginVipExpireTime,jdbcType=TIMESTAMP},
            plugin_accumulate_vip_day = plugin_accumulate_vip_day + #{pluginAccumulateVipDay,jdbcType=INTEGER}
        WHERE account = #{account,jdbcType=VARCHAR}
    </update>

</mapper>