<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}">show-pubgArticle</title>

    <th:block th:utext="${article.css}"/>

    <th:block th:replace="common/common-css :: link" />

</head>
<body>

<div class="custom-container">
    <div class="custom-page-head"></div>
    <div class="custom-page-main">

        <div th:replace="common/common-navigation :: div.custom-navigation" ></div>

        <div class="custom-content-left">
            <div class="custom-path">
                <a th:href="@{/a}" class="custom-path-button"> 首页</a> »
                <a th:href="@{/a}" class="custom-path-button"> 英雄联盟</a> »
                <a th:href="@{/pubg/article-list/1.html}" class="custom-path-button"> 攻略</a> »
            </div>
            <div class="custom-article-title" th:text="${article.title}">title</div>
            <th:block th:utext="${article.content}">content</th:block>

        </div>
        <div class="custom-content-right">
            <div class="right-box"></div>
        </div>
        <div class="custom-clear"></div>
    </div>
</div>

<div th:replace="common/common-js :: script"></div>

</body>
</html>