

<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--<link rel="stylesheet" th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"-->
      <!--href="../../../resources/vendor/bootstrap/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" th:href="@{/resources/css/common-css.css}"-->
      <!--href="../../../resources/css/common-css.css">-->


<script th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/common-js.js}"></script>

</html>